@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap'); /*Nerko One*/
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap'); /*Indie Flower*/
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap'); /*Courgette*/


table {
    border-collapse: collapse;
    border: 2px solid;
    width: 25vw;
    height: 20vh;
    background-color: rgba(213, 128, 255, 0.897);
    box-shadow: 4px 9px 12px rgb(46, 7, 78);
    min-width: 310px;
    max-width: 25vw;
    margin: auto;
}

tbody {
    color: rgb(0, 0, 0);
    align-items: center;
    text-align: center;
    color: rgb(52, 0, 95);
    font-weight: bold;
    font-size: 20px;
    font-family:'Courgette', cursive;
}

td {
    border: 2px solid;
    padding: 10px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: white;
}

h1 {
    font-size: 6vh;
    text-align: center;
    font-family:'Nerko One', cursive;
}

h2 {
    font-size: 5vh;
    text-align: center;
    font-family:'Nerko One', cursive;
}

h3 {
    font-size: 5vh;
    text-align: center;
    font-family:'Nerko One', cursive;
}

th {
    font-family:'Indie Flower', cursive;
    font-weight: bold;
    font-size: 22px;
}

thead {
    background-color: rgba(108, 5, 160, 0.411);
}