* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

header{
    height: 100px;
    background-color: rgb(172, 70, 192);
}

.menu {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.item-menu {
    position: relative;
}

.submenu {
    position: relative;
    left: 10px;
    width: max-content;
    overflow: hidden;
    background-color: rgb(172, 70, 192);
    max-height: 0;
    padding: 0 10px 10px 10px;
    border-radius: 5px;
    transition: 1s;
}

.item-menu:hover .submenu {
    max-height: 100vh;
}

.link-menu {
    color: white;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}

.link-submenu {
    font-size: 16px;
}

.link-menu:hover {
    color: black;
}

.div1, .div2, .div3 {
    width: 500px;
    height: 100px;
}

.div1 {
    background-color: rgb(189, 48, 255);
}

.div2 {
    background-color: rgb(112, 0, 177);
}

.div3 {
    background-color: rgb(58, 0, 85);
}

@media (max-width: 600px) {
    .div1, .div3 {
        max-width: 200px;
    }
    .div2 {
        display: none;
    }
}

@media (min-width: 601px) {
    .div1 {
        visibility: hidden;
    }
}
