:root {
    --cor1: #000;
    --cor2: #fff;
}

h1 {
    color: var(--cor1);
    font-size: 43px;
    text-align: center;
    font-style: italic;
    margin-top: 5px;
    
}

h2 {
    color: var(--cor1);
    font-size: 35px;
    font-style: italic;
}

h3 {
    color: var(--cor1);
    font-size: 29px;
    font-style: italic;
    margin-top: 5px;
}

h4 {
    color: var(--cor1);
    font-size: 30px;
    font-style: italic;
    margin-top: 5px;
}


body {
    background-color: rgba(58, 58, 58, 0.521);
    color: var(--cor1);
    font-size: 23px;
    text-align: center;
    width: calc(100% - 30px);
    padding: 10px;

}

div{
    padding: 10px;

}

img{
    max-width: 553px;
    border-radius: 10px;
    display: block;
    margin: auto;
    width: calc(100% - 20px);
    height: 100%;
    box-shadow: 0 8px 10px rgb(197, 190, 190);
}

span {
    font-weight: bold;
    color: var(--cor1);
}

li {
    font-size: 23px;
    padding: 5px;
}

.todostipos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 20px;
}

.telecaster,.lespaul,.stratocaster,.sg,.flyingv,.explorer{
    border: solid var(--cor1) 3px;
    border-radius: 10px;
    width: 500px;
    max-width: 553px;
    min-width: 325px;
    margin: auto;
    height: 400px;
}


#id1,#id2,#id3,#id4,#id5,#id6 {
    max-width: 350px;
    border-radius: 10px;
    display: block;
    margin: auto;
}