@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap'); /* Pirata One */
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap'); /* Concert One */
@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Merienda:wght@300..900&display=swap'); /* Macondo */

:root {
    --cor1: #000;
    --cor2: #fff;
}

h1 {
    color: var(--cor1);
    font-size: 43px;
    text-align: center;
    font-family:"Pirata One", system-ui;
    margin-top: 5px;
    
}

h2 {
    color: var(--cor1);
    font-size: 40px;
    font-family:"Pirata One", system-ui;
}

h3 {
    color: var(--cor1);
    font-size: 35px;
    font-family:"Pirata One", system-ui;
    margin-top: 20px;
}

h4 {
    color: var(--cor1);
    font-size: 35px;
    font-family:"Pirata One", system-ui;
    margin-top: 20px;
}

h5 {
    color: var(--cor1);
    font-size: 30px;
    font-family:"Pirata One", system-ui;
    margin: auto;
}


body {
    background-color: rgba(58, 58, 58, 0.521);
    color: var(--cor1);
    font-size: 25px;
    text-align: center;
    width: calc(100% - 30px);
    padding: 6px;
    font-family: "Concert One", sans-serif;
}

img{
    max-width: 553px;
    border-radius: 10px;
    display: block;
    margin: auto;
    width: calc(100% - 20px);
    height: 100%;
    box-shadow: 0 2px 10px 5px rgb(196, 196, 196);
}

span {
    font-weight: bold;
    color: var(--cor1);
}


.todostipos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    gap: 60px;
    margin-bottom: 25px;
}

.telecaster,.lespaul,.stratocaster,.sg,.flyingv,.explorer{
    border: solid var(--cor1) 3px;
    border-radius: 10px;
    width: 500px;
    max-width: 450px;
    min-width: 300px;
    margin: auto;
    height: 410px;
    box-shadow: 0 8px 10px rgb(39, 39, 39);
}

#id1,#id2,#id3,#id4,#id5,#id6 {
    max-width: 350px;
    border-radius: 10px;
    display: block;
    margin: auto;
}

#p1 {
    font-size: 3.5vh;
}

table{
    border-collapse: collapse;
    border: solid, 2px var(--cor2);
    background-color: rgba(128, 128, 128, 0.678);
    width: 90vw;
    max-width: 90vw;
    max-height: 70vw;
    height: 65vh;
    margin: auto;
    margin-bottom: 40px;
    box-shadow: 0 8px 10px rgb(209, 209, 209);
}

thead{
    height: 6vh;
    background-color: rgba(0, 0, 0, 0.788);
}

th{
    color: var(--cor2);
    border: solid, 2px var(--cor2);
    font-size: 3vh;
    max-height: 3vh;
    min-height: 2.5vh;
    font-weight: bold;
}

td{
    border: solid, 1px var(--cor2);
    text-align: center;
    font-size: 3vh;
    max-height: 3vh;
    min-height: 2.5vh;
    padding: 20px;
}

tr{
    border: solid, 1px var(--cor2);
}

table tr:nth-child(even){
    background-color:  rgba(185, 185, 185, 0.719);
}

.partes {
    font-weight: bold;
}