header {
    /* width: 100; */
    height: auto;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 8px 10px rgb(0, 0, 0);
    border-radius: 10px;
    /* display: flex; */
}
nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

nav a {
    font-size: 20px;
    color: rgb(77, 73, 73);
    text-decoration: none;

}

.paginas{
    display: inline-block;
    padding: 15px;
    font-family: papyrus;
}

a:hover {
    color: rgb(58, 0, 112);
}

iframe {
    width: 115px;
    height: 45px;
    padding: 10px;
}