@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap'); /*Nerko One*/
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap'); /*Indie Flower*/
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap'); /*Courgette*/

:root {
    --cor1: white;
    --cor2: rgba(42, 20, 66, 0.849);
    --cor3: rgba(72, 34, 112, 0.822);
}

header {
    /* width: 100; */
    height: auto;
    font-weight: bold;
    background-color: var(--cor1);
    box-shadow: 0 8px 10px rgb(87, 14, 136);
    border-radius: 10px;
    /* display: flex; */
    padding: 10px;
}

nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

nav a {
    font-size: 20px;
    color: rgb(68, 64, 64);
    text-decoration: none;
}

.paginas{
    display: inline-block;
    padding: 13px;
    font-family: papyrus;
}

a:hover {
    color: rgba(108, 0, 209, 0.61);
}

iframe {
    width: 120px;
    height: 45px;
    padding: 10px;
}