header {
    width: 100%;
    height: auto;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 8px 10px rgb(0, 0, 0);
    border-radius: 10px;
    display: flex;
    align-items: center;
}

nav a {
    font-size: 23px;
    color: rgb(77, 73, 73);
    text-decoration: none;
}

.paginas{
    display: inline-block;
    padding: 20px;
    font-family: papyrus;
}

a:hover {
    color: rgb(96, 11, 129);
}

iframe {
    width: 125px;
    height: 50px;
    padding: 10px;
}
