@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap'); /*Nerko One*/
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap'); /*Indie Flower*/
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap'); /*Courgette*/

:root {
    --cor1: white;
    --cor2: rgba(42, 20, 66, 0.849);
    --cor3: rgba(72, 34, 112, 0.822);
}


body{
    background-image: url(https://static.vecteezy.com/ti/vetor-gratis/p1/1866677-dark-purple-vector-background-with-circles-stars-vetor.jpg); 
}

h1 {
    color: var(--cor1);
    font-family: "Nerko One", cursive;
    text-align: center;
    font-size: 40px;
}

h2 {
    color: var(--cor1);
    font-family: "Nerko One", cursive ;
    text-align: center;
    font-size: 45px;
}

h3 {
    color: var(--cor1);
    font-family: "Nerko One", cursive ;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h6 {
    color: var(--cor1);
    font-family: "Nerko One", cursive ;
    text-align: center;
    font-size: 35px;
    margin: auto;
    padding: auto;
}

#foto-inicial {
    width: 80%;
    max-width: 600px;
    height: auto;
    border-radius: 20px;
    display: block;
    margin: 15px auto 10px;
    box-shadow: 0 2px 10px 5px var(--cor3);
}

#p1 {
    font-size: 3vh;
    color: var(--cor1);
    text-align: center;
    width: 100%;
    font-family: "Indie Flower", cursive;
}

section {
    background-color: var(--cor2);
    width: 85vw;
    height: 65vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px auto;
    box-shadow: 0 2px 10px 5px var(--cor3);
    padding: 20px;
    box-sizing: border-box;
}

.secoes {
    background-color: rgba(42, 20, 66, 0.973);
    width: 95vw;
    max-width: 95vw;
    height: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 35px auto;
    box-shadow: 0 2px 10px 5px var(--cor3);
    padding: 20px;
    box-sizing: border-box;
}


.textos {
    font-size: 2.8vh;
    color: var(--cor1);
    text-align: center;
    width: 68%;
    font-family: "Indie Flower", cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.imagens {
    width: 20%;
    max-width: 80%;
    height: auto;
    border-radius: 20px;
    display: block;
    margin: 0;
    padding: 0;
    box-shadow: 0 2px 10px 5px var(--cor3);
}

.contato{
    background-color: var(--cor2);
    width: 85vw;
    height: 65vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px auto;
    box-shadow: 0 2px 10px 5px var(--cor3);
    padding: 20px;
    box-sizing: border-box;
}
 
@media (max-width: 768px) {
    .secoes{
        flex-direction: column;
        align-items: center;
    }

    .textos, .imagens {
        width: 95%;
        max-width: 95%;
        margin-bottom: 10px;
    }
}


fieldset {
    border-radius: 20px;
    border-width: 5px;
    margin: auto;
    padding: auto;
    background-color: var(--cor1);
}

label {
    color: rgba(52, 41, 134, 0.904);
    font-size: 20px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

input {
    border-radius: 10px;
    width: 30vw;
    height: 4vh;
}

#mensagem {
    width: 30vw;
    height: 10vh;
}

button {
    background-color: rgb(193, 185, 255);
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    margin: auto;
}

::placeholder {
    color: rgb(151, 140, 241);

}