@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap'); /*Nerko One*/
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap'); /*Indie Flower*/
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap'); /*Courgette*/

:root {
    --cor1: white;
    --cor2: rgba(42, 20, 66, 0.849);
    --cor3: rgba(72, 34, 112, 0.822);
}


body{
    background-image: url(https://static.vecteezy.com/ti/vetor-gratis/p1/1866677-dark-purple-vector-background-with-circles-stars-vetor.jpg);
    background-repeat: no-repeat;
}

h1 {
    color: var(--cor1);
    font-family: "Nerko One", cursive;
    text-align: center;
    font-size: 40px;
}

h2 {
    color: var(--cor1);
    font-family: "Nerko One", cursive ;
    text-align: center;
    font-size: 45px;
}

#foto-inicial {
    width: 80%;
    max-width: 600px;
    height: auto;
    border-radius: 20px;
    display: block;
    margin: 15px auto 10px;
    box-shadow: 0 2px 10px 5px var(--cor3);
}

#p1 {
    font-size: 3vh;
    color: var(--cor1);
    text-align: center;
    width: 100%;
    font-family: "Courgette", cursive;
}

section {
    background-color: var(--cor2);
    width: 85vw;
    height: 65vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px auto;
    box-shadow: 0 2px 10px 5px var(--cor3);
    padding: 20px;
    box-sizing: border-box;
}


